.container {
  max-width: 64rem;
}

.rooms {
  align-items: center;
}

.title {
  border: 0.3rem solid #121212;
}

header, footer {
  text-align: center;
}

.text-right {
  text-align: right;
}

.less-margin {
  margin: 0.4rem 0;
}