.container {
  max-width: 64rem;
}

.rooms {
  align-items: center;
}

.title {
  border: 0.3rem solid #121212;
}

.text-center {
  text-align: center
}

.hidden {
  display: none;
}

.button-list {
  margin-bottom: 1rem;
  text-align: center;
}

.table-hr {
  margin: 0;
}

.table-h2 {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.fullwidth {
  min-width: 100%;
}

td {
  padding-right: 0.5rem;
}

header, footer {
  text-align: center;
}

.text-right {
  text-align: right;
}

.less-margin {
  margin: 0.4rem 0;
}