header {
  margin: 2rem 0;
  font-size: 3rem;
  text-align: center;
}

footer {
  text-align: center;
  margin: 8rem 0 2rem 0;
}

footer > p, header > * {
  margin: 0.4rem 0;
}

.subtitle {
  font-weight: normal;
}

.button-list {
  margin-bottom: 1rem;
  text-align: center;
}

.building-name {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.building-hr {
  margin: 0;
}

td {
  padding-right: 0.4rem;
  padding-left: 0.4rem;
}

.text-td {
  text-align: right;
  min-width: 100%;
}

.rooms-progress {
  transition: opacity 0.2s ease-in-out;
}
